footer {
    background-color: grey;
    min-height: 55px;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.footer-link {
    text-decoration: none;
    color: white;
    font-size: 14pt;
}
    
.footer-link:hover {
    text-decoration: none;
    color: white;
    background-color: #FF8533;
    color: black;
}