.footer {
    background-color: grey;
    min-height: 40px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
/* .container {
    min-height: calc(100vh - 34px);
} */
.footer--pin {
    position: relative;
    left: 0;
    bottom: 0;
}
.footer-link {
    text-decoration: none;
    color: white;
    font-size: 14pt;
}
.footer-link:hover {
    text-decoration: none;
    color: white;
    background-color: #FF8702;
    color: black;
}